.notification {
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
  background-color: lightblue;
}
